{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>X-Tesla Vest - Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous" />
  </head>
  <body>
    <div class="container-fluid px-0 my-0">
      <div class="row">
        <div class="col-md-8 px-0 d-none d-lg-block">
          <div class="large-bg">
            <img src="{% static 'image/blogo.png' %}" alt="" height="20" />
            <div class="d-flex justify-content-center align-items-center h-100">
              <img src="{% static 'image/auth.svg' %}" class="bg-img" alt="Auth SVG" />
            </div>
          </div>
        </div>
        <div class="col-md-4 px-0">
          <div class="small-bg">
            <div class="logo-head d-lg-none d-flex align-items-center">
              <img src="{% static 'image/blogo.png' %}" alt="" height="20" />
            </div>

            <div class="form-bg">
              <h3>Login Account</h3>
              <p>Sign in using email and password</p>
              <div class="text-divider">
                <hr />
                <span class="text-light">LOGIN</span>
                <hr />
              </div>
              <form method="post">
                {% csrf_token %}

                {% if messages %}
                  {% for message in messages %}
                    {% if 'success' in message.tags %}
                      <div style="color: green; border: 2px solid green; padding: 10px; text-align: center;">{{ message }}</div>
                    {% else %}
                      <div style="color: red; border: 2px solid red; padding: 10px; text-align: center;">{{ message }}</div>
                    {% endif %}
                  {% endfor %}
                {% endif %}

                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" />
                </div>

                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <div class="input-group mb-3">
                    <input type="password" class="form-control" id="password" name="password" /><i id="eyes1" class="fas fa-eye"></i>
                  </div>
                </div>

                <div class="auth-info">
                  <div class="pb-5">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="checkChecked" checked />
                      <label class="form-check-label" for="checkChecked">Remember this device</label>
                    </div>
                  </div>

                  <a href="">Forgotten Password?</a>
                </div>
              </form>
              <button type="submit" class="btn mt-5 py-2 w-100">Submit</button>
              <p class="text-center pt-5">
                New to Quantumaiwealth? <a href="{% url 'backend:register' %}">Create an account</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://kit.fontawesome.com/82d49a62e0.js" crossorigin="anonymous"></script>
    <script>
      const hidebtn = document.getElementById('eyes1')
      const password = document.getElementById('password')
      
      var clicked = false
      
      hidebtn.addEventListener('click', () => {
        if (clicked == false) {
          password.type = 'text'
          hidebtn.classList.remove('fa-eye')
          hidebtn.classList.add('fa-eye-slash')
          clicked = true
        } else {
          password.type = 'password'
          hidebtn.classList.remove('fa-eye-slash')
          hidebtn.classList.add('fa-eye')
          clicked = false
        }
      })
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
  </body>
</html>
